# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.venv/
venv/
logs/
mlruns/
